.film{
    border-radius: 10px;
    background-color: aqua;
    margin: 5px;
}
.grafika{
    float: left;
    padding: 10px;
}
img{
    height: 100px;
}
.tytulBlok
{
    float: left;
    width: 300px;
}
.tytul{
    font-size: larger;
    font-weight: bold;
}
.opis{
    font-style: italic;
}
.typ{
    float: left;
    width: 80px;
    margin-right: 5px;
}
.godziny{
    float: left;
    width: 60px;
}
.godzina{
    background-color: green;
    
    border-radius: 5px;
    text-align: center;
}
.godzina:hover{
    background-color: lightgreen;    
    border-radius: 5px;
    text-align: center;
}
.pusty{
    clear: both;
}
.Premiera{
    background-color: lightcoral;
    border-radius: 5px;
    text-align: center;    
}
.Dorośli{
    background-color: purple;
    border-radius: 5px;
    text-align: center;        
}
.Rodzinny{
    background-color: rgb(128, 162, 240);
    border: 1px rgb(128, 162, 240) solid;
    border-radius: 5px;
    text-align: center;        
}